@import './simple.css';
body {
  font-family: 'Courier New', Courier, monospace;
}
.canvas {
  border: 1px solid crimson;
  width: 100%;
  height: 100vw;
  max-height: 530px;
  image-rendering: pixelated;
}
button.active {
  opacity: 0.5;
}
input,
select,
textarea,
button {
  border-radius: 0;
  border-color: crimson;
}
.block {
  display: block;
  width: 100%;
}
